* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 53px;
    background: #212121;
}

.header {
    position: relative;
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 40px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    font-weight: 300;
    margin-top: 6px;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;
}

.subheader .subheader_phone {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    display: block;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;   
    margin: 19px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-style: none;
}

.promo {
    min-height: 800px;
    background: url(/src/img/uber_bg.png) center center/cover no-repeat;
    padding: 150px 0 175px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 23px;
}

.promo .promo_descr {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 30px;
}

.promo .promo_btn {
    width: 259px;
    height: 63px;
    display: block;
    margin: 115px auto 0 auto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-style: none;
}

.work {
    min-height: 860px;
}

.work .work_header {
    width: 113px;
    height: 24px;
    margin: 30px auto 33px auto;
    background-color: black;
    font-weight: 400;
    font-size: 11px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.work .work_subheader {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin: 0;
    margin-bottom: 16px;
}

.work .work_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work .work_text {
    width: 100%;
}

.work .work_round {
    position: relative;
    width: 150px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 25px;
}

.work .work_round .work_img {
    position: absolute;
}

.work .work_text span {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.work .work_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}